@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<div style="float: left">
    <section class="contact">
        <header>
            <h3>Anthony van der Hoorn</h3>
        </header>
        <p>
            <span class="label">Twitter:</span>
            <span><a href="https://twitter.com/anthony_vdh">@@anthony_vdh</a></span>
        </p>
        <p>
            <span class="label">Email:</span>
            <span><a href="mailto:anthony.vanderhoorn@gmail.com">anthony.vanderhoorn@gmail.com</a></span>
        </p>
        <p>
            <span class="label">Blog:</span>
            <span><a href="http://blog.anthonyvanderhoorn.com/">http://blog.anthonyvanderhoorn.com/</a></span>
        </p>
        <p>
            <span class="label">Base:</span>
            <span>Brisbane, Australia</span>
        </p>
        <p>
            <img src="~/Images/anthony_vdh.jpg"/>
        </p>
    </section> 
</div>

<div style="float: right; width: 50%;">
    <section class="contact">
        <header>
            <h3>Nik Molnar</h3>
        </header>
        <p>
            <span class="label">Twitter:</span>
            <span><a href="https://twitter.com/nikmd23">@@nikmd23</a></span>
        </p>
        <p>
            <span class="label">Email:</span>
            <span><a href="mailto:nikmd23@gmail.com">nikmd23@gmail.com</a></span>
        </p>
        <p>
            <span class="label">Blog:</span>
            <span><a href="http://nikcodes.com/">http://nikcodes.com/</a></span>
        </p>
        <p>
            <span class="label">Base:</span>
            <span>New York, United States</span>
        </p>
        <p>
            <img src="~/Images/nikmd23.jpg"/>
        </p>
    </section> 
</div>