<hgroup class="title">
    <h1>Initial Metadata Request</h1><br />
    <h2>Next, how do we even know where to go for our initial system metadata.</h2>
</hgroup>

<article> 
    <h5></h5>
    
    <ul>
        <li></li> 
        <li></li> 
    </ul>  
</article>

<aside>
    <h3>Links</h3> 
    <ul>
        <li><a href=""></a></li> 
        <li><a href=""></a></li> 
    </ul>
</aside> 