<hgroup class="title">
    <h1>Introduction</h1><br />
    <h2>What Glimpse is and what problem we need to solve (many clients vs many servers).</h2>
</hgroup>

<article> 
    <h5>Glimpse</h5>
    What Firebug is for the client Glimpse is for the server.
    <ul>
        <li>At its core Glimpse allows you to debug your web site or web service right in the browser.</li> 
        <li>Glimpse allows you to "Glimpse" into what's going on in your web server.</li> 
    </ul> 
</article>

<aside>
    <h3>Links</h3> 
    <ul>
        <li><a href="http://getglimpse.com">Glimpse</a></li> 
        <li><a href="http://getglimpse.com/protocol">Glimpse Protocol</a></li> 
    </ul>
</aside>
