<hgroup class="title">
    <h1>CORS/JSONP</h1><br />
    <h2>We don’t know where our request is coming from so we need to be able to work with any domain.</h2>
</hgroup>

<article> 
    <h5></h5>
    
    <ul>
        <li></li> 
        <li></li> 
    </ul>  
</article>

<aside>
    <h3>Links</h3> 
    <ul>
        <li><a href=""></a></li> 
        <li><a href=""></a></li> 
    </ul>
</aside> 