<hgroup class="title">
    <h1>Media Types</h1><br />
    <h2>Now that we can start getting data, how do we know what data we can support.</h2>
</hgroup>

<article> 
    <h5></h5>
    
    <ul>
        <li></li> 
        <li></li> 
    </ul>  
</article>

<aside>
    <h3>Links</h3> 
    <ul>
        <li><a href=""></a></li> 
        <li><a href=""></a></li> 
    </ul>
</aside> 