<hgroup class="title">
    <h1>Uri Templates</h1><br />
    <h2>Even though we know resources, the different data can be injected into the URI’s hence we need a form of templates.</h2>
</hgroup>

<article> 
    <h5>Problem</h5> 
    <ul>
        <li>We know that we need data to get into a URI.</li> 
        <li>Need to parameterize a URI with variables in order to generate a URI.</li>
        <li>URIs have particular semantics which means that simple string substitution breaks down quickly.</li>
    </ul>  
</article>

<aside>
    <h3>Links</h3> 
    <ul>
        <li><a href="http://tools.ietf.org/html/rfc6570">URI Template [RFC6570]</a></li> 
        <li><a href="https://code.google.com/p/uri-templates/wiki/Implementations">Implementations</a></li> 
        <li><a href="http://jqueryuritemplates.anthonyvanderhoorn.com/">jQuery Uri Templates</a></li> 
    </ul>
</aside> 
 
<article> 
    <h5>Glimpse Example</h5> 
    <ul>
        <li>As already noted, client depends on many different server resources.</li>  
        <li>
            Most of these endpoint have a URIs that needs to be parameterized:
            <ul>
                <li>Request: Request?requestId=123&amp;version=1.0</li>
                <li>Ajax: Ajax?parentRequestId=123&amp;version=1.0</li>
                <li>History: History?version=1.0</li>
                <li>Tab: Tab?requestId=123&amp;pluginKey=Config&amp;version=1.0</li>
                <li>Paging: Pager?pluginKey=Config&amp;pageIndex=1&amp;version=1.0</li>
                <li>Config: Config?version=1.0</li>
                <li>Logo: Logo?version=1.0</li>
                <li>Sprite: Sprite?version=1.0</li>
                <li>Popup: Popup?requestId=123&amp;version=1.0</li>
            </ul>
        </li>  
    </ul>
</article> 

<article> 
    <h5>Solution</h5> 
    <ul>
        <li>
            RFC6570 comes to the party to facilitate Uri Templating:
                <table class="examples wikitable">
                    <tr>
                        <th width="20%">Example 1:</th>
                        <td class="sample">
                            <pre>$.ajax({
    url: '/foo{?query,number}',
    tokens: {query:'person', number: '1234'}
});</pre>
                            Result:<br />
                            <em class="result1"></em> 
                        </td>
                        <td width="15%"><input type="button" value="Run" id="example1"></td>
                    </tr>
                    <tr>
                        <th width="20%">Example 2:</th>
                        <td class="sample">
<pre>$.ajax({
    url: '/foo{?query,number}',
    tokens: { number: '1234'}
});</pre>
                            Result:<br />
                            <em class="result2"></em> 
                        </td>
                        <td><input type="button" value="Run" id="example2"></td>
                    </tr>
                    <tr>
                        <th width="20%">Example 3:</th>
                        <td class="sample">
<pre>$.ajax({
    url: '/map?{x,y}',
    tokens: {x: '123', y: '987'}
});</pre>
                            Result:<br />
                            <em class="result3"></em> 
                        </td>
                        <td><input type="button" value="Run" id="example3"></td>
                    </tr>
                    <tr>
                        <th width="20%">Example 4:</th>
                        <td class="sample">
<pre>$.ajax({
    url: '/map?{x,y}',
    tokens: {x: '123' }
});</pre>
                            Result:<br />
                            <em class="result4"></em> 
                        </td>
                        <td><input type="button" value="Run" id="example4"></td>
                    </tr>
                    <tr>
                        <th width="20%">Example 5:</th>
                        <td class="sample">
<pre>$.ajax({
    url: '/foo?fixed=yes{&x}',
    tokens: {x: '123' }
});</pre>
                            Result:<br />
                            <em class="result5"></em> 
                        </td>
                        <td><input type="button" value="Run" id="example5"></td>
                    </tr>
                    <tr>
                        <th width="20%">Example 6:</th>
                        <td class="sample">
<pre>$.ajax({
    url: '/foo{?list}',
    tokens: {list: [ "red", "green", "blue" ] }
});</pre>
                            Result:<br />
                            <em class="result6"></em> 
                        </td>
                        <td><input type="button" value="Run" id="example6"></td>
                    </tr>
                    <tr>
                        <th width="20%">Example 7:</th>
                        <td class="sample">
<pre>$.ajax({
    url: '/foo{?list*}',
    tokens: {list: [ "red", "green", "blue" ] }
});</pre>
                            Result:<br />
                            <em class="result7"></em> 
                        </td>
                        <td><input type="button" value="Run" id="example7"></td>
                    </tr>
                </table>
        </li>  
    </ul>  
</article>

@section scripts
{
    @Scripts.Render(Links.Scripts.jquery_uritemplate_1_0_min_js)
    <script>
$(function() {
    $.ajaxPrefilter(function( options, originalOptions, jqXHR ) {
        if (options.target) {
            $(options.target).text(options.url);
            jqXHR.abort();
            $(options.target).closest('tr').find('input').hide();
        }
    });
    
    $('#example1').click(function () {
        $.ajax({
            url: '/foo{?query,number}',
            tokens: {query:'person', number: '1234'},
            target: '.result1'
        });   
    });
    
    $('#example2').click(function () {
        $.ajax({
            url: '/foo{?query,number}',
            tokens: {number: '1234'},
            target: '.result2'
        }); 
    });
    
    $('#example3').click(function () {
        $.ajax({
            url: '/map?{x,y}',
            tokens: {x: '123', y: '987'},
            target: '.result3'
        });
    });
    
    $('#example4').click(function () {
        $.ajax({
            url: '/map?{x,y}',
            tokens: {x: '123'},
            target: '.result4'
        });
    });
    
    $('#example5').click(function () {
        $.ajax({
            url: '/foo?fixed=yes{&x}',
            tokens: {x: '123'},
            target: '.result5'
        });
    });
    
    $('#example6').click(function () {
        $.ajax({
            url: '/foo{?list}',
            tokens: {list: [ "red", "green", "blue" ] },
            target: '.result6'
        });
    });
    
    $('#example7').click(function () { 
        $.ajax({
            url: '/foo{?list*}',
            tokens: {list: [ "red", "green", "blue" ] },
            target: '.result7'
        }); 
    }); 
});
    </script>
}
