<hgroup class="title">
    <h1>Uri Templates</h1><br />
    <h2>Even though we know resources, the different data can be injected into the URI’s hence we need a form of templates.</h2>
</hgroup>

<article> 
    <h5>Problem</h5> 
    <ul>
        <li></li> 
    </ul>  
</article>

<aside>
    <h3>Links</h3> 
    <ul>
        <li><a href="http://tools.ietf.org/html/rfc6570"><a href="http://tools.ietf.org/html/rfc6570">URI Template [RFC6570]</a></a></li> 
        <li><a href="https://code.google.com/p/uri-templates/wiki/Implementations">Implementations</a></li> 
    </ul>
</aside> 
 
<article> 
    <h5>Glimpse Example</h5> 
    <ul>
        <li></li>  
    </ul>
</article> 

<article> 
    <h5>Solution</h5> 
    <ul>
        <li></li> 
        <li></li> 
    </ul>  
</article>